<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MrTakeout3_BigShot_Atk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,831},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>MrTakeout3_BigShot_Hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,314},{276,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,286}}</string>
                <key>sourceSize</key>
                <string>{276,286}</string>
            </dict>
            <key>MrTakeout3_BigShot_Hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,602},{256,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,227}}</string>
                <key>sourceSize</key>
                <string>{256,227}</string>
            </dict>
            <key>MrTakeout3_BigShot_Hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{256,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,310}}</string>
                <key>sourceSize</key>
                <string>{256,310}</string>
            </dict>
            <key>MrTakeout3_ShotMini_Atk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>MrTakeout3_ShotMini_Hit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,831},{90,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,134}}</string>
                <key>sourceSize</key>
                <string>{90,134}</string>
            </dict>
            <key>MrTakeout3_defeat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{691,645}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{691,645}}</string>
                <key>sourceSize</key>
                <string>{765,765}</string>
            </dict>
            <key>MrTakeout3_defeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{681,661}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{681,661}}</string>
                <key>sourceSize</key>
                <string>{765,765}</string>
            </dict>
            <key>MrTakeout3_hover0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{528,324}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,300},{528,324}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1689},{528,328}}</string>
                <key>offset</key>
                <string>{-18,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,296},{528,328}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hoverBigShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1381},{562,328}}</string>
                <key>offset</key>
                <string>{-35,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,296},{562,328}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hoverShotMini0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1689},{528,324}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,300},{528,324}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hoverShotMini1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1365},{588,322}}</string>
                <key>offset</key>
                <string>{-39,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,299},{588,322}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1005},{636,354}}</string>
                <key>offset</key>
                <string>{33,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,300},{636,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1005},{636,358}}</string>
                <key>offset</key>
                <string>{36,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,296},{636,358}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idleBigShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{654,358}}</string>
                <key>offset</key>
                <string>{12,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,296},{654,358}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idleShotMini0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{636,354}}</string>
                <key>offset</key>
                <string>{33,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,300},{636,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idleShotMini1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,649},{684,354}}</string>
                <key>offset</key>
                <string>{9,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,300},{684,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MrTakeout3Sheet.png</string>
            <key>size</key>
            <string>{1660,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8238a97a4cf92516f5574e4dfa3b8a55:f78360b3b667d3810d77c9a846947a0f:93d8c7268ddb892d74baf094429a7d04$</string>
            <key>textureFileName</key>
            <string>MrTakeout3Sheet.png</string>
        </dict>
    </dict>
</plist>
