<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeroFish_hover0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,280},{180,268}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,124},{180,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_hover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{180,276}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,108},{180,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_hoverShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1638},{264,268}}</string>
                <key>offset</key>
                <string>{48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,124},{264,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_hoverShot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1372},{264,276}}</string>
                <key>offset</key>
                <string>{48,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,108},{264,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1074},{180,236}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,160},{180,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_idleShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{264,236}}</string>
                <key>offset</key>
                <string>{48,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,160},{264,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_jump0.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1372},{180,240}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,144},{180,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HeroFish_jumpShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1372},{264,240}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,144},{264,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MrTakeout1_attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1712},{256,268}}</string>
                <key>offset</key>
                <string>{-57,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,253},{256,268}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout1_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,550},{274,268}}</string>
                <key>offset</key>
                <string>{-66,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,250},{274,268}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout1_walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1074},{144,268}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,253},{144,268}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout1_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1712},{150,268}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,250},{150,268}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout2_walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1712},{330,336}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,225},{330,336}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout2_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,826},{318,354}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,210},{318,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout2_walkShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{412,336}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,225},{412,336}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hover0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1182},{528,324}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,300},{528,324}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1042},{528,328}}</string>
                <key>offset</key>
                <string>{-18,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,296},{528,328}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hoverShotMini0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{528,324}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,300},{528,324}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_hoverShotMini1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,718},{588,322}}</string>
                <key>offset</key>
                <string>{-39,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,299},{588,322}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,362},{636,354}}</string>
                <key>offset</key>
                <string>{33,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,300},{636,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{636,358}}</string>
                <key>offset</key>
                <string>{36,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,296},{636,358}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idleBigShot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{654,358}}</string>
                <key>offset</key>
                <string>{12,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,296},{654,358}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idleShotMini0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{636,354}}</string>
                <key>offset</key>
                <string>{33,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,300},{636,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>MrTakeout3_idleShotMini1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,354}}</string>
                <key>offset</key>
                <string>{9,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,300},{684,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites.png</string>
            <key>size</key>
            <string>{1550,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46ff7f477baeffb8ad3c50515d111c4b:acb73ae21fdc58fee841123e71c4713d:4f1e2adb64e9833dc0d6799b3053df6d$</string>
            <key>textureFileName</key>
            <string>Sprites.png</string>
        </dict>
    </dict>
</plist>
